# Dependabot will run on day 28 of each month at 03:18 (Europe/Berlin timezone)
version: 2
updates:

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "cron"
      timezone: "Europe/Berlin"
      cronjob: "18 3 28 * *"
    open-pull-requests-limit: 15

  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "cron"
      timezone: "Europe/Berlin"
      cronjob: "18 3 28 * *"
    open-pull-requests-limit: 15
    versioning-strategy: "increase"
    ignore:
      - dependency-name: "typescript"
        update-types:
          - "version-update:semver-minor"
          - "version-update:semver-major"
      - dependency-name: "@types/node"
        update-types:
          - "version-update:semver-major"

  - package-ecosystem: "npm"
    directory: "/src-editor"
    schedule:
      interval: "cron"
      timezone: "Europe/Berlin"
      cronjob: "18 3 28 * *"
    open-pull-requests-limit: 15
    versioning-strategy: "increase"

  - package-ecosystem: "npm"
    directory: "/src-admin"
    schedule:
      interval: "cron"
      timezone: "Europe/Berlin"
      cronjob: "18 3 28 * *"
    open-pull-requests-limit: 15
    versioning-strategy: "increase"
